.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.header p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-right: 16px;
}

.header h3 {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header img {
  width: 10px;
  height: 15px;
  margin-right: 6px;
  margin-top: 10px;
}

.menu {
  margin-left: 50px;
}

.Introduction {
  margin-top: 150px;
  margin-left: 20px;
}

.name {
  font-size: 50px;
  text-decoration: solid;
}
.hello {
  font-size: 30px;
}
.me {
  font-size: 30px;
}
.occupation {
  font-size: 30px;
}
